[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"
flake8-annotations = "*"
flake8-import-order = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py run --debug"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
