[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
martor = "*"
psycopg2-binary = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"
flake8-annotations = "*"
flake8-import-order = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py runserver"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
django_shell = "python manage.py shell"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
