<nav id="navbar">
    <ul>
        <li><a href="{% url 'home' %}">
            HackerSpace
        </a></li>
    </ul>
    <ul>
        <li>
            <a href="https://github.com/HackerSpace-PESU">Github</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Projects</a>
        </li>
        <li>
            <a href="{% url 'blog-list' %}">Blog</a>
        </li>
        <li>
            <a href="#">Discord</a>
        </li>

    </ul>
</nav>
