{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>{% block title %}HackerSpace{% endblock %}</title>
  {% block css %}{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  <!-- CDN for fontawesome library  -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <!-- Icon that is visible on the tab -->
  <link rel="icon" href="{% static 'images/icon.png' %}">
  <style>.main-container {margin-top: 3em}</style>
</head>
<body>
  {% include "base/_navbar.html" %}
  <div class="ui container main-container">
    <div class="main-content">
      {% block messages %}
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      {% block content %}{% endblock %}
    </div>
  </div>

  <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
  {% block js %}{% endblock %}

  {% include "base/_footer.html" %}

</body>
</html>
