{% extends "base/base.html" %}

<!-- Background Image -->
<div class="backgroundImageAU">
{% block content %}

    <div class="au-wcard">
        <center><p class="au-header">What is HackerSpace?</p></center>
        <br>
        <div class="au-container">
            <div class="au-text">
                <p>
                HackerSpace is a community-powered Development Club based in PES University, RR Campus which was formed in 2019 by the batch of ‘22.
                At HackerSpace, we are more than a club. We are a Community.

                The Club aims to inspire peers and create a strong development-oriented community within the campus
                by promoting community powered development.
                <br><br>
                Since we believe in collective growth and participation, all activities are organized by the peers, for the peers.
                We provide a platform for peers to interact with one another and work together to develop applications that can change lives.
                <br><br>
                Club Objectives:
                <ul class="au-fix">
                    <li>To create a strong development-oriented community on campus</li>
                    <li>To build a unifying platform for collective growth</li>
                    <li>To introduce peers to various domains and their applications</li>
                    <li>To train and build the skills required to develop domain experience</li>
                    <li>To develop an affinity towards open-source contributions</li>
                </ul>
                <p>
            </div>
            <div>
                <center>
                    <img class="au-logo" src="{% static 'images/logo2.png' %}>
                </center>

            </div>
        </div>
        </p>
    </div>
    <br>
{% endblock %}

</div>
