{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceJam-2021</title>
    <link rel="stylesheet" href="{% static 'css/spaceJam.css'%}" />
    <!-- Icon that is visible on the tab -->
    <link rel="icon" href="../../static/images/icon.png">
    <!-- CDN for fontawesome library  -->
    <script src="http://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="main-container">
      <section class="section1" id="Home">
        <!-- Header -->
        <nav>
          <ul>
            <!-- <a href="{% url 'home' %}" style="color: white;"> -->

                <li class="logo"><a href="{% url 'home' %}" class="logo" style="color: white;">&lt;/HackerSpace&gt;</a></li>

            <!-- </a> -->
            <div class="links">
              <!-- <a href="#Home" class="navLink"><li class="about">Home</li></a> -->
              <a href="#AboutUs" class="navLink"
                ><li class="about">About Us</li></a
              >
              <a href="#Sponsors" class="navLink"
                ><li class="contact">Sponsors</li></a
              >
              <!-- <a href="#Contacts" class="navLink"
                ><li class="contact">Contacts</li></a
              > -->
            </div>
          </ul>
        </nav>
        <!-- SpaceJam logo -->
        <div class="spaceJam">
          <img src="../../static/images/spacejam/final_crop.png" alt="logo" />
        </div>
        <!-- Event Date -->
        <center><p class="date">February 27-28, 2021</p></center>
        <br>
        <!-- Timer -->
        <p id="demo"></p>

        <!-- Devfolio Button -->
        <center>
          <br>
          <div
          class="apply-button"
          data-hackathon-slug="spacejam-2021"
          data-button-theme="dark-inverted"
          style="height: 35px; width: 250px"
          ></div>
          <br>
        </center>
        <br>
        <br>
        <center><p class="infoLink">Find out more about the event here : <a href="https://spacejam-2021.devfolio.co" target="_blank" style="color: #5efefe;">SpaceJam with Devfolio</a></p></center>
        <br>
        <br>
        <!-- About Us -->
        <div class="container">
          <div class="wcard" id="AboutUs">
            <center><p class="cardHeader">About Us</p></center>
            <br />
            <p class="cardContent">
              HackerSpace presents its first-ever hackathon -
              <b class="accent">SpaceJam 2021</b>
            </p>
            <p class="cardContent">
              SpaceJam is open to all students across India. Since we're
              starting off, the theme is <b class="accent">Open Innovation</b> -
              build out the great ideas you have to solve the problems you face
              every day! No restrictions at all! This is a beginner-friendly
              hackathon, and aims to provide a great platform for first-timers
              to explore the world of hackathons while allowing experienced pros
              to showcase their talents.
            </p>
            <p class="cardContent">
              This hackathon will be aimed at freshers, providing the new batch
              of students with their first experience in ideating, brainstorming
              and developing for a hackathon. This will also introduce them to
              new technologies and provide a challenging experience to build
              their ideas as well. They will be<b class="accent"> mentored by the HackerSpace team</b>
              throughout the duration of the event, so they can learn more about
              how to proceed and go about a Hackathon and still walk away a
              winner.
            </p>
            <p class="cardContent">
              The HackerSpace organisation functions out of PES University,
              Bangalore, but since this event will be conducted virtually,
              participants of <b class="accent">any age or institution</b> are welcome to contest in
              SpaceJam!
            </p>
            <p class="cardContent">
              <b class="accent">THINK - CODE - INNOVATE</b>
            </p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <!-- Sponsors -->
        <div class="container">
          <div class="wcard" id="Sponsors">
            <center><p class="cardHeader">Our Sponsors</p></center>
            <br>
            <br>
            <center><p class="sponsorsHeader" style="color:rgb(248, 249, 83)">Tera Sponsors</p></center>
            <br>
            <div class="sponsors-logo">

              <a href="https://www.postman.com/" target="_blank"><img src="../../static/images/spacejam/PostmanLogo .png" alt="Postman" class="sponsorsImages" /></a>
              <a href="https://devfolio.co" target="_blank"><img src="../../static/images/spacejam/Devfolio_Logo-White.png" alt="Devfolio" class="sponsorsImages" /></a>
              <a href="https://uaceit.com/" target="_blank"><img src="../../static/images/spacejam/uaceltLogo .png" alt="Uacelt" class="sponsorsImages" /></a>
              <a href="https://www.clerky.com/" target="_blank"><img src="../../static/images/spacejam/clerkyLogo.jpg" alt="Clerky" class="sponsorsImages" /></a>
            </div>
            <br>
            <br>
            <br>
            <center><p class="sponsorsHeader" style="color:rgb(87, 208, 228);">Giga Sponsors</p></center>
            <br>
            <div class="sponsors-logo">
              <a href="https://www.digitalocean.com/" target="_blank"><img src="../../static/images/spacejam/doLogo.png" alt="Digital Ocean" class="sponsorsImages" /></a>
              <a href="https://matic.network" target="_blank"><img src="../../static/images/spacejam/Matic_Logo-White@2x.png" alt="Matic" class="sponsorsImages" /></a>
              <a href="https://www.portis.io" target="_blank"><img src="../../static/images/spacejam/Portis_Logo-White.png" alt="Portis" class="sponsorsImages"/></a>
              <a href="https://tezos.com" target="_blank"><img src="../../static/images/spacejam/Tezos_Logo-White.png" alt="Tezos" class="sponsorsImages"/></a>
            </div>
            <br>
            <br>
            <br>
            <center><p class="sponsorsHeader" style="color:rgb(218, 218, 218);">Kilo Sponsors</p></center>
            <br>
            <div class="sponsors-logo">
              <a href="https://www.echoar.xyz/" target="_blank"><img src="../../static/images/spacejam/echoarLogo.png" alt="echoAr" class="sponsorsImages" /></a>
              <a href="https://thecodex.me/" target="_blank"><img src="../../static/images/spacejam/codexLogo.png" alt="The Codex" class="sponsorsImages" /></a>
              <a href="https://www.gobilda.com/" target="_blank"><img src="../../static/images/spacejam/gobildaLogo.png" alt="gobILDA" class="sponsorsImages"/></a>
              <a href="https://givemycertificate.com/" target="_blank"><img src="../../static/images/spacejam/givemycertficate.png" alt="GiveMyCertificate" class="sponsorsImages" /></a>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />

        <!-- footer -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <div class="footer" id="Contacts">
          <p class="content">&#60;/HackerSpace&#62;</p>
          <p class="copyright">© SpaceJam 2021</p>
          <div class="row">
            <div id="github">
              <a
                class="footerIcon"
                href="https://github.com/HackerSpace-PESU"
                target="_blank"
                ><i id="github" class="fab fa-github"></i
              ></a>
            </div>
            <div id="instagram">
              <a
                class="footerIcon"
                href="https://www.instagram.com/peshackerspace/"
                target="_blank"
                ><i id="instagram" class="fab fa-instagram"></i
              ></a>
            </div>
            <div id="mail">
              <a
                class="footerIcon"
                href="mailto:hackerspace@pes.edu"
                target="_blank"
                ><i id="mail" class="fas fa-at"></i
              ></a>
            </div>
            <div id="discord">
              <a
                class="footerIcon"
                href="https://discord.com/invite/zEpxPnP"
                target="_blank"
                ><i id="discord" class="fab fa-discord"></i
              ></a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script defer async src="https://apply.devfolio.co/v2/sdk.js"></script>
    <script>
      // Set the date we're counting down to
      var countDownDate = new Date("Feb 27, 2021 23:59:59").getTime();

      // Update the count down every 1 second
      var x = setInterval(function () {
        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML =
          days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("demo").innerHTML = "EXPIRED";
        }
      }, 1000);

      // Mobile View for Navbar
      function closeDsc() {
        document
          .getElementsByClassName("dscCard")[0]
          .classList.toggle("active");
      }
    </script>
  </body>
</html>
